.card_list__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.pagination__container {
  display: flex;
  gap: 8px;

  margin: 26px 0 51px;
}
.pagination__item {
  background: #fff;
  color: #2e2d2d;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}

.pagination__item--selected {
  border: none;
  color: #fff;
  background: #2e2d2d;
  border-radius: 8px;
  width: 50px;
  height: 50px;
}
